<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RP Flask REST API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}" type="module"></script>
</head>

<body>
    <h1>
        Hello, People!
    </h1>
    <div class="list">
    <table class="table">
        <tr class="row" >
            <td>row 1</td>
        </tr>
    </table>
    </div>
</body>

</html>